/* ------------------ */
/* RESET CSS MINIMAL  */
/* ------------------ */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    /* Base 10 pour les rem : 62.5% de 16px = 10px */
    font-size: 62.5%;
    height: 100%;
}

body {
    /* Texte par défaut à 16px */
    font-size: 1.6rem;
    font-family: 'Open Sans', sans-serif;
    background-color: #F5F3E7;
    color: #333333;
    line-height: 1.6;
}

/* ------------------ */
/* GLOBAL STYLES      */
/* ------------------ */

a {
    color: inherit;
    text-decoration: none;
}

h1,
h2,
h3 {
    margin-bottom: 0.8rem;
    font-weight: bold;
    font-family: 'Playfair Display', serif;
    color: #6C8C55;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2.4rem;
}

h3 {
    font-size: 1.6rem;
}

p {
    margin-bottom: 1.6rem;
    line-height: 1.6;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

ol,
ul,
li {
    list-style: none;
}

/* ------------------ */
/* LAYOUT SECTIONS    */
/* ------------------ */

header,
footer,
section {
    padding: 3.2rem 0;
    max-width: 120rem;

    margin: auto;
}

header,
main {
    padding: 0 1.6rem;
}

/* ------------------ */
/* UTILITY CLASSES    */
/* ------------------ */

.text-center {
    text-align: center;
}

.bg-light {
    background-color: #f0f0f0;
}

.btn {
    display: inline-block;
    padding: 1.2rem 2.4rem;
    background-color: #6C8C55;
    color: white;
    border: none;
    border-radius: 0.4rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 1.6rem;
}

.btn:hover {
    background-color: #5A7548;
}

.bg-accent {
    background-color: #6C8C55;
    color: white;
}

/* ------------------ */
/* HEADER             */
/* ------------------ */

header {
    padding-top: 1.6rem;
    padding-bottom: 1.6rem;
}

header h1 {
    font-size: 2rem;

}

/* ------------------ */
/* MAIN               */
/* ------------------ */




/* ------------------ */
/* FOOTER             */
/* ------------------ */

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 4rem 1.6rem;
    background-color: #6C8C55;
    color: #F5F3E7;
}